div {
	font-family: "Times New Roman", Times, serif;
}

#sidebar {
	border: 1px solid black;
}

.col {
	font-size: 18px;
}

textarea {
	background-color: white;
}

.flex-wrap {
	background-color: #ebebe0;
}

.output {
	width: 80%;
}

pre {
	background-color: white;
}

.addmargin {
	margin-bottom: 20px;
	margin-top: 10px;
}

.card-header {
	font-weight: bold;
	background-color: #ccddff;
}

textarea {
	width: 100%;	
}

#siteheader {
	width: 200px;
	height: 200px;
}

img {
	height: 100%;
	width: 200px;
}

.card-title {
	color: blue;
}

.footer {
	background-color: black;
	color: blue;
}