body {
	background-color: #e6e6ff !important;
	line-height: 1.6;
}

div {
	font-family: "Helvetica,Arial,Freesans,Clean,Sans-serif";
}

#sidebar {
	border: 1px solid black;
}

.col {
	font-size: 18px;
}


textarea {
	background-color: black;
	color: white;
}

pre[class^="brush"] {
	background-color: black;
	color: white;	
}

.flex-wrap {
	background-color: #ebebe0;
}

.output {
	width: 80%;
}

.addmargin {
	margin-bottom: 20px;
	margin-top: 10px;
}

.card-header {
	font-weight: bold;
  /*background-color: #ccddff; */
}

textarea {
	width: 100%;
}

#siteheader {
	width: 200px;
	height: 200px;
}

img {
	height: 100%;
	width: 200px;
}

.card-title {
	color: blue;
}

.footer {
	background-color: black;
	color: blue;
}